<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Libre+Barcode+39+Text&family=Nuosu+SIL&family=Playball&family=Press+Start+2P&family=Sanchez&family=Ubuntu:wght@300&display=swap" rel="stylesheet" type="text/css" />
    <title>Dest</title>

    <style>
      
        h1 { 
            color: #f1f1f1;
            font-size: 40px;
            font-weight: 900;
            font-family: "Ubuntu", "sans-serif";
            text-align: center;
        }
        h2 { 
            color: #f1f1f1;
            font-size: 55px;
            font-weight: 900;
            font-family: "Ubuntu", "sans-serif";
            text-align: center;
        }
       
        h3 { 
            color: #f1f1f1;
            font-size: 18px;
            font-family: "Ubuntu", "sans-serif";
            text-align: center;
        }
        .back{
            display: block;
            flex-direction: row;
            align-content: center;
            align-items: center;
            justify-content: center;
            padding: 20px;
            background-color: #E52B51;
            height: fit-content;
            width: 90%;
        }
    </style>
</head>
<body>
    <div class="back">
    <h1>Your New Password</h1>
    <h1>{{fPasswords}}</h1>
    <h3>Please use it to sign in and change it to your own in your settings</h3>
    <h3>If you got this email by mistake, please discard it.</h3>
    </div>
</body>
</html>